
@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    <div class="card-body p-t-10 p-b-10">
        <div class="d-flex no-block">
            <div class="small-text">
                <h4 class="card-title inbox-text m-b-0">Applications</h4>

            </div>


        </div>
    </div>

</div>
<!-- =============================Stats box end================================= -->
<!-- ============================================================== -->
<!-- inbox box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box ps-container" id="slimtest1" style="height:600px;">
            <div class="card-body p-t-0">
                <div class="table-responsive no-wrap">
                    <table class="table vm no-th-brd pro-of-month manage-admin-list">
                        <tbody>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user1.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user2.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user1.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user1.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user1.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user1.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user1.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user1.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Abdul Rehman Submitted his profile </h6><small class="text-muted">Msc. M.Tech, School Teacher</small>
                                </td>
                                <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



