
@{
    ViewBag.Title = "Payment_History";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card radius">
                <div class="card-body p-t-15 p-b-15 tutor-application">
                    <div class="table-responsive no-wrap">
                        <table class="table vm no-th-brd pro-of-month manage-admin-list m-b-0">
                            <tr>
                                <td style="width:114px;">
                                    <span class="round round-large">
                                        <img src="~/Content/images/user-large.png" alt="user">
                                    </span>
                                </td>
                                <td>
                                    <h6 class="text-white">Laurel Cooper</h6><small class="text-white numbertext">#54227729891</small>
                                </td>
                                <td class="text-right">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body p-t-0">
                    <div class="row page-titles page-titles-block">
                        <div class="col-md-5 align-self-center">
                            <div class="m-t-0 m-b-20"></div>
                            <h5>Payment History</h5>
                            <div class="m-t-0 m-b-20"></div>
                        </div>
                        <div class="col-md-7 align-self-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;" data-toggle="dropdown" data-hover="dropdown">Sort by Date <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right right-dropdown">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 calender-block">
                                                <p>From</p>
                                                <div class="input-group">
                                                    <input type="text" class="form-control mydatepicker" placeholder="Select Date">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 calender-block">
                                                <p>To</p>
                                                <div class="input-group">
                                                    <input type="text" class="form-control mydatepicker" placeholder="Select Date">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 calender-block-box">
                                                <button type="button" class="btn btn-primary">Today</button>
                                                <button type="button" class="btn btn-primary">This Month</button>
                                                <button type="button" class="btn btn-primary">Last Month</button>
                                                <button type="button" class="btn btn-primary">Last 3 Month</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="breadcrumb-item"><img src="~/Content/images/printer.svg"></li>
                                <li class="breadcrumb-item"><img src="~/Content/images/email.svg"></li>
                            </ol>
                        </div>

                    </div>
                    <div>
                        <table class="table vm no-th-brd pro-of-month manage-admin-list payment-block">
                            <tbody>
                                <tr>
                                    <td>
                                        <h6>Payment recieved for session #2283721 </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right">+ $25</td>

                                </tr>
                                <tr>
                                    <td>
                                        <h6>Payment recieved for session #2283721 </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right">+ $25</td>

                                </tr>
                                <tr>
                                    <td>
                                        <h6>Payment Withdrawal </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right blue-text">- $100</td>

                                </tr>
                                <tr>
                                    <td>
                                        <h6>Payment recieved for session #2283721 </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right">+ $25</td>

                                </tr>
                                <tr>
                                    <td>
                                        <h6>Purchased profile boost </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right yellow-text">- $99</td>

                                </tr>
                                <tr>
                                    <td>
                                        <h6>Payment recieved for session #2283721 </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right">+ $25</td>

                                </tr>
                                <tr>
                                    <td>
                                        <h6>Payment Withdrawal </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right">+ $25</td>

                                </tr>
                                <tr>
                                    <td>
                                        <h6>Payment recieved for session #2283721 </h6><small class="text-muted">On sept 2019 at 10:30am</small>
                                    </td>
                                    <td class="text-right">+ $25</td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
