
@{
    ViewBag.Title = "Tutor_Profile";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card radius">
                <div class="card-body p-t-15 p-b-15 tutor-application">
                    <div class="table-responsive no-wrap">
                        <table class="table vm no-th-brd pro-of-month manage-admin-list m-b-0">
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="~/Content/images/user.png" alt="user" width="50"></span></td>
                                <td>
                                    <h6 class="text-white">Laurel Cooper</h6><small class="text-white numbertext">#54227729891</small>
                                </td>
                                <td class="text-right">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body p-t-0">
                    <form class="form-horizontal form-list" role="form">
                        <div class="form-body">
                            <hr class="m-t-0 m-b-20">
                            <h5 class="box-title text-uppercase font-medium">Personal Details</h5>
                            <hr class="m-t-0 m-b-20">
                            <div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Name</label>
                                        <input type="text" class="form-control" placeholder="Laurel Cooper" readonly>

                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom02">Email</label>
                                        <input type="text" class="form-control" placeholder="laurelcooper@gmail.com" readonly>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Mobile No.</label>
                                        <input type="text" class="form-control" placeholder="+91 9922002733" readonly>

                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom02">Country</label>
                                        <input type="text" class="form-control" placeholder="USA" readonly>

                                    </div>
                                </div>
                                <!--/row-->
                                <div class="m-t-0 m-b-30"></div>
                                <hr class="m-t-0 m-b-20">
                                <div class="row">
                                    <!--Accordion wrapper-->
                                    <div class="accordion md-accordion col-md-12 p-l-0 p-b-20" id="accordionEx" role="tablist" aria-multiselectable="true">

                                        <!-- Accordion card -->
                                        <div class="card  m-b-0">

                                            <!-- Card header -->
                                            <div class="card-header card-header-two" role="tab" id="headingOne1">
                                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                                   aria-controls="collapseOne1">
                                                    <h5 class="mb-0">
                                                        Registration details<i class="fa fa-chevron-down rotate-icon"></i>
                                                    </h5>
                                                </a>
                                            </div>
                                            <!-- Card body -->
                                            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                                <div class="card-body p-b-0">
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="validationCustom01">Joining Date</label>
                                                            <input type="text" class="form-control" placeholder="2nd Sept. 2019" readonly="">

                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <label for="validationCustom02">Classes Requested</label>
                                                            <input type="text" class="form-control" placeholder="199" readonly="">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label col-md-12">Qualification</label>
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" placeholder="Friday, Saturday, Sunday" readonly="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="form-group row m-b-0">
                                                                <label class="control-label col-md-12">Interest</label>
                                                                <div class="col-md-12">
                                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" readonly="">Computer Science, Mathematics, .net , Java, Javascript, Communication</textarea>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-t-0 m-b-20">
                                <div class="row">
                                    <!--Accordion wrapper-->
                                    <div class="accordion md-accordion col-md-12 p-l-0 p-b-20" id="accordionEx" role="tablist" aria-multiselectable="true">

                                        <!-- Accordion card -->
                                        <div class="card  m-b-0">

                                            <!-- Card header -->
                                            <div class="card-header card-header-two" role="tab" id="headingTwo2">
                                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="true"
                                                   aria-controls="collapseTwo2">
                                                    <h5 class="mb-0">
                                                        Professional details<i class="fa fa-chevron-down rotate-icon"></i>
                                                    </h5>
                                                </a>
                                            </div>

                                            <!-- Card body -->
                                            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                                                <div class="card-body p-b-0">
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <label for="validationCustom01">Qualification</label>
                                                            <input type="text" class="form-control" placeholder="Msc, M.tech, B.ed" readonly="">

                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <label for="validationCustom02">Classes Requested</label>
                                                            <input type="text" class="form-control" placeholder="199" readonly="">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label col-md-12">Qualification</label>
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" placeholder="Grad Student" readonly="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="form-group row m-b-0">
                                                                <label class="control-label col-md-12">Subject Taught</label>
                                                                <div class="col-md-12">
                                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" readonly="">Computer Science, Mathematics, .net , Java, Javascript, Communication</textarea>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="form-group row">
                                                                <label class="control-label col-md-12">Teaching Experience</label>
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" placeholder="3-4 years" readonly="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row m-b-0">
                                                                <label class="control-label col-md-12">Student Reviews </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row m-b-10 m-t-20">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <div class="ribbon-wrapper card pending-tutor-box">
                                                                <div class="round-box-circle regsitered-tutor-profile-box rounded-circle">4.5</div>
                                                                <p class="ribbon-content communication-text text-center">Communication</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <div class="ribbon-wrapper-reverse card pending-tutor-box">
                                                                <div class="round-box-circle regsitered-tutor-profile-box rounded-circle blue-box">4</div>
                                                                <p class="ribbon-content communication-text text-center">Explaining Method</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <div class="ribbon-wrapper-bottom card pending-tutor-box">
                                                                <div class="round-box-circle regsitered-tutor-profile-box rounded-circle blue-box-light">5</div>
                                                                <p class="ribbon-content communication-text text-center">Review</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group row m-b-0 p-b-20">
                                                                <label class="control-label col-md-12">Documents & Legal </label>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 ">
                                                            <div class="card">
                                                                <div class="el-card-item">
                                                                    <div class="el-card-avatar el-overlay-1 user-img">
                                                                        <img src="~/Content/images/img5.jpg" alt="user" class="img-rounded">

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-6">
                                                            <div class="card">
                                                                <div class="el-card-item">
                                                                    <div class="el-card-avatar el-overlay-1 user-img">
                                                                        <img src="~/Content/images/img5.jpg" alt="user" class="img-rounded">

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6">
                                                            <div class="card">
                                                                <div class="el-card-item">
                                                                    <div class="el-card-avatar el-overlay-1 user-img">
                                                                        <img src="~/Content/images/img5.jpg" alt="user" class="img-rounded">

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-6">
                                                            <div class="card">
                                                                <div class="el-card-item">
                                                                    <div class="el-card-avatar el-overlay-1 user-img">
                                                                        <img src="~/Content/images/img5.jpg" alt="user" class="img-rounded">

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-t-0 m-b-20">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row m-b-0 p-b-20">
                                            <label class="control-label col-md-12">Payment & Account </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 ">
                                        <h4 class="card-title total-text">Total Income</h4>
                                        <h6 class="card-subtitle dollar-text">$687.78</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-4 ">
                                        <h4 class="card-title total-text">Withdrawal Amount</h4>
                                        <h6 class="card-subtitle dollar-text-two">$600.78</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-4 ">
                                        <h4 class="card-title total-text">Available Amount</h4>
                                        <h6 class="card-subtitle dollar-text-three">$87.78</h6>
                                    </div>
                                </div>
                                <div class="m-t-40"></div>
                                <div class="text-xs-right">
                                    <button type="button" class="btn view-account-but" data-toggle="modal" data-target="#myModal" class="model_img img-responsive">View Account Details</button>
                                    <button type="reset" class="btn btn-inverse view-payment-but">View Payment History</button>
                                </div>

                                <div class="m-t-40"></div>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
