
@{
    ViewBag.Title = "Accept";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card radius">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>Teacher Approved Succ.</p>
                    <hr>
                    <p class="mb-0">Check your Wallat.</p>
                </div>
            </div>
        </div>
    </div>

