
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="row">
        <div class="col-lg-6">
            <div class="card pending-tutor-box">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="col-md-12 col-lg-12 pending-tutor-ht">
                            <div class="round-box-circle rounded-circle">200</div>
                            <p class="col-md-12 col-lg-12 text-center pending-tutor-block">Pending Tutor Request</p>
                            <p class="col-md-12 col-lg-12 text-center view-all"><a href="javascript:;">View All</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card pending-tutor-box">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="col-md-12 col-lg-12 pending-tutor-ht">
                            <div class="round-box-circle rounded-circle circle-block">54</div>
                            <p class="col-md-12 col-lg-12 text-center pending-tutor-block">Pending Withdrawal Request</p>
                            <p class="col-md-12 col-lg-12 text-center view-all"><a href="javascript:;">View All</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>