
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- inbox box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box">
            <div class="card-body p-t-10 p-b-10">
                <div class="d-flex no-block">
                    <div>
                        <h4 class="card-title inbox-text">Notifications</h4>
                    </div>



                </div>
            </div>
            <div>
                <hr class="m-t-0 m-b-5">
            </div>

            <div class="card-body p-t-0">
                <div class="table-responsive no-wrap">
                    <table class="table vm no-th-brd pro-of-month manage-admin-list">
                        <tbody>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/notifications-icon.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>Request from Adbul Rehman</h6><small class="text-muted">Asking refund for session #7987946</small>
                            </td>
                            <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/notifications-icon.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>Adbul Rehman </h6><small class="text-muted">Abdul.rehman708@gmail.com</small>
                            </td>
                            <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/notifications-icon.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>Adbul Rehman </h6><small class="text-muted">Abdul.rehman708@gmail.com</small>
                            </td>
                            <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/notifications-icon.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>Adbul Rehman </h6><small class="text-muted">Abdul.rehman708@gmail.com</small>
                            </td>
                            <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/notifications-icon.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>Adbul Rehman </h6><small class="text-muted">Abdul.rehman708@gmail.com</small>
                            </td>
                            <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/notifications-icon.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>Adbul Rehman </h6><small class="text-muted">Abdul.rehman708@gmail.com</small>
                            </td>
                            <td class="text-center"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
