
@{
    ViewBag.Title = "Registered_Member";
      Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- inbox box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box p-t-0 managetable">
            <div class="card-body p-t-0 p-b-0">
                <!--  Nav tabs  -->
                <ul class="nav nav-tabs customtabnew" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#registered" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="">Registered Tutor</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#student" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="">Registered Students</span></a> </li>
                </ul>
            </div>
            <div>
                <hr class="m-t-0 m-b-5">
            </div>
            <div class="card-body p-t-0">
                <div class="tab-content">
                    <div class="search-input-box text-center">
                        <input type="text" class="form-control" placeholder="Search by name, email, ID">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                    <div class="tab-pane active" id="registered" role="tabpanel">
                        <div class="table-responsive no-wrap">
                            <table class="table vm no-th-brd pro-of-month manage-admin-list">
                                <tbody>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-center"><button type="button" class="btn btn-secondary btn-circle btn-circle-blue">6</button></td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-center"><button type="button" class="btn btn-secondary btn-circle btn-circle-orange">6</button></td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-center"><button type="button" class="btn btn-secondary btn-circle btn-circle-orange">6</button></td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-center"><button type="button" class="btn btn-secondary btn-circle btn-circle-blue">6</button></td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-center"><button type="button" class="btn btn-secondary btn-circle btn-circle-blue">6</button></td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/manage-user2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-center"><button type="button" class="btn btn-secondary btn-circle btn-circle-blue">6</button></td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="student" role="tabpanel">
                        <div class="table-responsive no-wrap">
                            <table class="table vm no-th-brd pro-of-month manage-admin-list">
                                <tbody>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/registered-icon.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/registered-icon2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/registered-icon.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/registered-icon2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/registered-icon.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>
                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="~/Content/images/registered-icon2.png" alt="user" width="50"></span></td>
                                    <td>
                                        <h6 class="font-14"><b>Laurel Cooper</b></h6><small class="text-muted">aaron.elliot@mail.com</small>
                                    </td>
                                    <td>
                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                    </td>

                                    <td class="text-right"><a href="javascript:;"><img src="~/Content/images/right-arrow.png"></a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
