@model ChillLearn.ViewModels.ClassViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
@*<div class="input-group clockpicker" data-autoclose="true">
    <input type="text" class="form-control" value="09:30">
    <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
    </div>
</div>
<div class="input-group">
    <input type="text" class="form-control mydatepicker" placeholder="Select Date">
    <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-calculator" aria-hidden="true"></i></span>
    </div>
</div>*@


<div class="row">
    <div class="col-md-12">
        <div class="card radius">
            <div class="card-body p-t-15 p-b-15 tutor-application">
                <div class="table-responsive no-wrap">
                    <table class="table vm no-th-brd pro-of-month manage-admin-list m-b-0">
                        <tr>
                            <td>
                                <h6 class="text-white">Create New Class</h6>
                            </td>
                            <td class="text-right">&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-body p-t-0">
                <form class=" form-list" action="/class/create" method="POST">
                    <div class="form-body">
                        <hr class="m-t-0 m-b-20">
                        @*<h5 class="box-title text-uppercase font-medium">Personal Details</h5>*@
                        <hr class="m-t-0 m-b-20">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Title</label>
                                <input type="text" class="form-control" placeholder="title" name="title">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Class Date</label>
                                <div class="input-group" data-autoclose="true">
                                    <input type="text" autocomplete="off" class="form-control" id="datepicker-autoclose" name="Date" placeholder="Select date">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Class Type</label>
                                @Html.DropDownListFor(model => model.SessionType, new SelectList(Model.SessionTypes, "Value", "Text"), new { @class = "form-control custom-select selectBorder pl-1" })
                                </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Class Time</label>
                                <div class="input-group clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control" value="09:30" name="Time">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Class Type</label>
                                    @Html.DropDownListFor(model => model.Subject, Model.Subjects as SelectList, "-- Select Subject --", new { @class = "form-control custom-select selectBorder pl-1" })
                            </div>
                       
                            <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">Duration</label>
                                    <input type="number" class="form-control" name="Duration" placeholder="2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Description</label>
                                <textarea class="form-control" placeholder="" name="Description"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                @*<label>Record Class</label><br />
        <label for="radioYes">
            <input type="radio" value="1" name="Record" id="radioYes">Yes
        </label>
        <label for="radioNo">
            <input type="radio" value="0" name="Record" id="radioNo">
            No
        </label>*@
                                <div class="credit-refund-block credit-refund-block-new">
                                    <h4 class="card-title  m-t-20 text-left">Record Class</h4>
                                    <div class="demo-radio-button text-left">
                                        <input name="Record" type="radio" id="radio_30" class="with-gap radio-col-red" checked="">
                                        <label for="radio_30">Yes</label>
                                        <input name="Record" type="radio" id="radio_31"  class="with-gap radio-col-pink">
                                        <label for="radio_31">No</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <input type="submit" class="btn btn-primary float-right" value="Create class" />
                            </div>
                        </div>
                        </div>
</form>
            </div>
        </div>
    </div>
</div>