@model ChillLearn.ViewModels.LoginModel
@{
    ViewBag.Title = "Forgot_Password";
}

<div class="fix-header fix-sidebar card-no-border">
    <div class="login-block">
        <div class="login-box">
            <h1><img src="~/Content/images/logo-login.png"></h1>
            <p class="msg-login">Forgot Password</p>
            <p>@Html.ValidationMessage("error")</p>
            <p>@Html.ValidationMessage("success")</p>
            <form class="floating-labels floating-block" action="/account/forgot_password" method="POST">
                <div class="form-group m-b-50">
                    <input type="text" class="form-control" placeholder="" id="input1" name="UserEmail">
                    <span class="bar"></span>
                    <label for="input1">Email Address</label>
                </div>
                <div class="m-b-10 m-t-20">&nbsp;</div>
                <div class="col-md-12 col-sm-12 text-center">
                    <button type="submit" class="btn login-account">Reset Password</button>
                </div>
            </form>
            @*}*@
        </div>

    </div>
</div>

