@model ChillLearn.ViewModels.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}



    <section class="login-content">
        <div class="container">
            <div class="row">
                <div class="login-block-inner">
                    <!-- leftside -->
                    <div class="left-login">
                        <p><img src="~/Content/main/images/fingerprint.svg"></p>
                        <h1>Login Account</h1>
                        <p>Login via social Account</p>
                        <ul>
                            <li>
                                <div id="fb-root"></div>
                                <div class="fb-login-button mb-4" data-width="" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
                            </li>
                            @*<li><a href="javascript:;"><img src="~/Content/main/images/google.svg"></a></li>*@
                        </ul>
                        <span class="text-danger">@Html.ValidationMessage("error")</span>
                        <span class="text-success">@ViewBag.MessageSuccess</span>
                        <form class="floating-labels floating-block" action="/account/login" method="POST">
                            <div class="form-group m-b-20">
                                <input type="text" class="form-control" placeholder="Email ID/Mobile No" id="input1" name="UserEmail">
                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group m-b-40 m-t-10 has-danger">
                                <input type="password" class="form-control" placeholder="Password" id="input2" name="Password">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <label for="input2" class="forgot-password-block"><a href="/account/forgot_password">Forgot Password?</a></label>
                            </div>
                            <div class="col-md-12 col-sm-12 text-center">
                                <button type="submit" class="btn btn-rounded sign-in-but login-but">Login</button>
                            </div>
                        </form>
                    </div>
                    <!-- rightside -->
                    <div class="right-side-from">
                        <div class="right-block-bg">
                            <h4>Don’t Have an Account?</h4>
                            <p>No Worries, We got it covered Create an account in few steps</p>
                            <a href="/account/register"><button type="button" class="btn btn-rounded sign-in-but sign-up-white">Sign UP</button></a>
                            <p><img src="~/Content/main/images/Login-illustration.svg"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>



<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2354798001501872&autoLogAppEvents=1"></script>
<script src="~/Content/js/custom/facebookLogin.js"></script>
