
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card pending-tutor-box">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="col-md-12 col-lg-12">
                        <div class="round-box-circle rounded-circle">200</div>
                        <p class="col-md-12 col-lg-12 text-center pending-tutor-block">Pending Tutor Request</p>
                        <p class="col-md-12 col-lg-12 text-center view-all"><a href="javascript:;">View All</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card pending-tutor-box">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="col-md-12 col-lg-12">
                        <div class="round-box-circle rounded-circle">54</div>
                        <p class="col-md-12 col-lg-12 text-center pending-tutor-block">Pending Withdrawal Request</p>
                        <p class="col-md-12 col-lg-12 text-center view-all"><a href="javascript:;">View All</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- =============================Stats box end================================= -->
<!-- ============================================================== -->
<!-- inbox box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box">
            <div class="card-body p-t-10 p-b-10">
                <div class="d-flex no-block">
                    <div>
                        <h4 class="card-title inbox-text" id="cardtext">Inbox</h4>
                    </div>

                    <div class="ml-auto">
                        <p class="text-center view-all"><a href="javascript:;">View All</a></p>
                    </div>

                </div>
            </div>
            <div>
                <hr class="m-t-0 m-b-5">
            </div>
            <div class="card-body p-t-0">
                <div class="table-responsive no-wrap">
                    <table class="table vm no-th-brd pro-of-month">
                        <tbody>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/user.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>New Message From #322452</h6><small class="text-muted">Issue : Payment</small>
                            </td>
                            <td class="text-right">08:30am</td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/user.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>New Message From #322452</h6><small class="text-muted">Issue : Payment</small>
                            </td>
                            <td class="text-right">08:30am</td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/user.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>New Message From #322452</h6><small class="text-muted">Issue : Payment</small>
                            </td>
                            <td class="text-right">08:30am</td>
                        </tr>
                        <tr>
                            <td style="width:50px;"><span class="round"><img src="~/Content/images/user.png" alt="user" width="50"></span></td>
                            <td>
                                <h6>New Message From #322452</h6><small class="text-muted">Issue : Payment</small>
                            </td>
                            <td class="text-right">08:30am</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

