
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Fail!</h4>
        <p>failed purchased.</p>
        <hr>
        <p class="mb-0">Contact Support.</p>
    </div>
</div>

