
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">@Resources.Resources.TxtFail</h4>
        <p>@Resources.Resources.TxtFailedPurchased</p>
        <hr>
        <p class="mb-0">@Resources.Resources.TxtContactSupport</p>
    </div>
</div>

