
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <h2>@Resources.Resources.Alaa</h2>
    <h1>Home Page Welcome @Session["UserName"]</h1>

